.card {
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.card:active {
	transform: scale(0.97);
	transition: transform 0.2s;
}

.card.flip {
	transform: rotateY(180deg);
}

.front-face,
.back-face {
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.788);
	backface-visibility: hidden;
}

.front-face {
	padding: 10px;
	transform: rotateY(180deg);
}

@media screen and (max-width: 740px) {
	.card {
		width: calc(33% - 10px);
		height: 19vh;
		position: relative;
		transform: scale(1);
		transform-style: preserve-3d;
	}
}
