.difficulty-level-container {
	display: flex;
	flex-direction: column;
	height: 70vh;
	justify-content: center;
	align-items: center;
}

.difficulty-level-heading {
	margin: 55px auto;
}

.difficulty-level-btn {
	margin: 15px;
	width: 30vw;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.788);
	color: white;
	padding: 25px;
	font-size: larger;
	font-weight: 700;
}

@media screen and (max-width: 740px) {
	.difficulty-level-heading {
		margin: 55px 20px;
		font-size: larger;
		font-weight: 900;
	}

	.difficulty-level-btn {
		width: 50vw;
		padding: 15px;
	}
}
