.result-page-container {
	display: flex;
	height: 75vh;
	align-items: center;
	justify-content: center;
}

.result-page-text {
	border-radius: 10px;
	letter-spacing: 1px;
	background: rgba(0, 0, 0, 0.788);
	padding: 25px;
	font-size: larger;
	font-weight: 800;
}

@media screen and (max-width: 740px) {
	.result-page-container {
		margin: 0px 25px;
	}
	.result-page-text {
		font-size: medium;
		font-weight: 700;
	}
}
